tests/fixtures/wsdl/abstract/book_shell.wsdl

<wsdl:definitions
        name="book_shell"
        targetNamespace="urn:www.example.org:book_shell"
        xmlns="http://schemas.xmlsoap.org/wsdl/"
        xmlns:tns="urn:www.example.org:book_shell"
        xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/"
        xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
        xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/"
        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
    <wsdl:types>
        <schema targetNamespace="urn:www.example.org:book_shell"
                xmlns="http://www.w3.org/2001/XMLSchema">
            <!--Get_Book types-->
            <complexType name="Method_Get_Book_Request">
                <sequence>
                    <element name="user_hash" type="xsd:string"/>
                    <element name="book_request" type="tns:Book_Request"/>
                </sequence>
            </complexType>
            <complexType name="Book_Request">
                <sequence>
                    <element name="id" type="xsd:int"/>
                    <element name="date" type="xsd:date"/>
                </sequence>
            </complexType>
            <complexType name="Method_Get_Book_Response">
                <sequence>
                    <element name="book_response" type="tns:Book_Response"/>
                </sequence>
            </complexType>
            <complexType name="Book_Response">
                <complexContent>
                    <extension base="tns:Book_Response_Title" >
                        <sequence>
                            <wsdl:element name="id" type="xsd:int"/>
                            <wsdl:element name="authors" type="tns:Book_Author"/>
                        </sequence>
                    </extension>
                </complexContent>
            </complexType>
            <complexType name="Book_Response_Title">
                <sequence>
                    <element name="title" type="xsd:string"/>
                </sequence>
            </complexType>
            <!--Get Authors Type-->
            <complexType name="Method_Get_Authors_Request">
                <sequence>
                    <element name="user_hash" type="xsd:string"/>
                    <element name="book_request" type="tns:Book_Request"/>
                </sequence>
            </complexType>
            <complexType name="Method_Get_Authors_Response">
                <sequence>
                    <element name="author_response" type="tns:Author_Response"/>
                </sequence>
            </complexType>
            <complexType name="Author_Response">
                <sequence>
                    <element name="authors" type="tns:Book_Author"/>
                </sequence>
            </complexType>
            <complexType name="Book_Author">
                <sequence>
                    <element name="id" type="xsd:int"/>
                    <element name="name" type="xsd:string"/>
                </sequence>
            </complexType>
        </schema>
    </wsdl:types>

    <wsdl:message name="MethodGetBookRequest">
        <wsdl:part name="Get_Book_Request" type="tns:Method_Get_Book_Request"/>
    </wsdl:message>
    <wsdl:message name="MethodGetBookResponse">
        <wsdl:part name="Get_Book_Response" type="tns:Method_Get_Book_Response"/>
    </wsdl:message>
    <wsdl:message name="MethodGetAuthorsRequest">
        <wsdl:part name="request" type="tns:Method_Get_Authors_Request"/>
    </wsdl:message>
    <wsdl:message name="MethodGetAuthorsResponse">
        <wsdl:part name="response" type="tns:Method_Get_Authors_Response"/>
    </wsdl:message>

    <wsdl:portType name="Book_Shell_Port">
        <wsdl:operation name="Get_Book">
            <wsdl:input message="tns:MethodGetBookRequest" name="MethodGetBookRequest"/>
            <wsdl:output message="tns:MethodGetBookResponse" name="MethodGetBookResponse"/>
        </wsdl:operation>
        <wsdl:operation name="Get_Authors">
            <wsdl:input message="tns:MethodGetAuthorsRequest" name="MethodGetAuthorsRequest"/>
            <wsdl:output message="tns:MethodGetAuthorsResponse" name="MethodGetAuthorsResponse"/>
        </wsdl:operation>
    </wsdl:portType>

    <wsdl:binding name="BookShell_Binding" type="tns:Book_Shell_Port">
        <wsdlsoap:binding style="rpc"
                      transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="Get_Book">
            <wsdlsoap:operation soapAction="Get_Books"/>
            <wsdl:input name="MethodGetBookRequest">
                <wsdlsoap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="urn:examples:bookdshell"
                        use="encoded"/>
            </wsdl:input>
            <wsdl:output name="MethodGetBookResponse">
                <wsdlsoap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="urn:examples:bookdshell"
                        use="encoded"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="Get_Authors">
            <wsdlsoap:operation soapAction="Get_Authors"/>
            <wsdl:input name="MethodGetAuthorsRequest">
                <wsdlsoap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="urn:examples:bookdshell"
                        use="encoded"/>
            </wsdl:input>
            <wsdl:output name="MethodGetAuthorsResponse">
                <wsdlsoap:body
                        encodingStyle="http://schemas.xmlsoap.org/soap/encoding/"
                        namespace="urn:examples:bookdshell"
                        use="encoded"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>

    <wsdl:service name="BookShell_Service">
        <wsdl:documentation>WSDL File for BookShell</wsdl:documentation>
        <wsdl:port binding="tns:BookShell_Binding" name="BookShell_Port">
            <wsdlsoap:address
                    location="http://www.examples.com/BookShell/"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>