tests/fixtures/wsdl/commentsgeneration/commentsgeneration.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://www.example.org/CommentsGeneration/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="CommentsGeneration" targetNamespace="http://www.example.org/CommentsGeneration/">
  <wsdl:types>
    <xsd:schema
    	targetNamespace="http://www.example.org/CommentsGeneration/">
 	    <xsd:element name="ToBe">
    		<xsd:complexType>
    			<xsd:sequence>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    	<xsd:element name="ToBeResponse">
    		<xsd:complexType>
    			<xsd:sequence>
    				<xsd:element name="prince" type="xsd:string"></xsd:element>
    				<xsd:element name="hamlet" type="xsd:string">
    					<xsd:annotation>
    						<xsd:documentation>

    							Son of the late King and nephew of the
    							present King

    						</xsd:documentation>
    					</xsd:annotation>
    				</xsd:element>
    			</xsd:sequence>
    		</xsd:complexType>
    	</xsd:element>
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ToBeResponse">
  	<wsdl:part name="parameters" element="tns:ToBeResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="ToBeRequest">
  	<wsdl:part name="parameters" element="tns:ToBe"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="CommentsGeneration">
  	<wsdl:documentation>To be, or not to be, that is the question—
Whether tis Nobler in the mind to suffer
The Slings and Arrows of outrageous Fortune,
Or to take Arms against a Sea of troubles,
And by opposing end them?</wsdl:documentation>

  	<wsdl:operation name="ToBe">
  		<wsdl:documentation>
	
To die, to sleep
	
</wsdl:documentation>
  		<wsdl:input message="tns:ToBeRequest"></wsdl:input>
  		<wsdl:output message="tns:ToBeResponse"></wsdl:output>
  	</wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="CommentsGenerationSOAP" type="tns:CommentsGeneration">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsdl:operation name="ToBe">
      <soap:operation soapAction="http://www.example.org/CommentsGeneration/ToBe"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="CommentsGeneration">
    <wsdl:port binding="tns:CommentsGenerationSOAP" name="CommentsGenerationSOAP">
      <soap:address location="http://www.example.org/"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>
